<h1 class="text-3xl font-semibold text-gray-900 mb-6">New List</h1>

<%= form_with model: @list, class: '' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>
