<nav class="flex items-center justify-between flex-wrap px-8 py-2 mb-4 border-b-2 border-gray-300">
  <div class="flex items-center text-white mr-6">
    <span class="font-semibold text-2xl text-indigo-800 tracking-tight">Tail To Do</span>
  </div>
  <div class="block flex">
    <div class="w-full block flex items-center w-auto">
      <div>
        <% if signed_in? %>
          <%= link_to "Lists", lists_path, class: "inline-block text-indigo-800 hover:text-indigo-200 mr-4" %>
          <%= link_to "Sign Out", sign_out_path, method: :delete, class: "inline-block text-indigo-800 hover:text-indigo-200" %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path, class: "text-indigo-800 hover:text-indigo-800" %>
          <%= link_to "Sign In", sign_in_path, class: "text-indigo-800 hover:text-indigo-800" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
